.idea/*
data/*
app1/*
app2/*
uploads/*
app/models/*
.venv/*
.DS_Store
*__pycache__*
notebooks/augmentor.py
notebooks/.DS_Store
notebooks/*.csv
notebooks/*.xlsx
notebooks/*.wav
notebooks/*.h5
notebooks/models/*
notebooks/tts.ipynb
notebooks/nn_models.py
notebooks/catboost_info/*
docker-compose.yml
